<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <script src="script.js" defer></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="184293983150-4t91b630845pn6h5sb2m9van1o4lndrd.apps.googleusercontent.com">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
</head>
<body>
  <div id="video-grid"></div>
  <div class="g-signin2" data-onsuccess="onSignIn" ></div>
  <button type="button" onclick="signOut()"></i> Log Out</button> 
</body>
</html>